.category-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin: 2rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.category-add-btn {
    min-width: 10rem;
    max-height: 2.75rem;
}

.card-add-btn {
    min-width: 10rem;
    max-height: 2.75rem;
}

@media (max-width: 48rem) {
    .category-menu {
        flex-direction: column;
        gap: 1.5rem;
    }
        
    .category-add-btn {
       margin: 0 auto;
    }
}