@import '../../Global.scss';

$card-width: 27rem;
$card-description-line-count-shown: 7;

.card {
    max-width: $card-width;
    align-self: flex-start;
    margin: 0 auto;
    font-family: $primary-font;
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.card-img {
    overflow: hidden;
}

.card-title {
    width: calc($card-width - 1.5rem);
    margin: 1rem 0.75rem 0 0.75rem;
    max-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    margin: 0;
}

.card-description {
    width: calc($card-width - 1.5rem);
    margin: 0.75rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $card-description-line-count-shown;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    align-items: center;
}

.category-card {
    pointer-events: none;
    cursor: default;
    height: 2rem;
    font-size: 0.75rem;
}

.card-dates-container {
    min-width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
}